{% extends "home/mainpage.html" %} {% block title %} Site {% endblock %} {% block body %} {% load staticfiles %}




<div id="asd" class="row">
  <div class="col m7 s1 hide-on-med-and-down">
  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!">
      <img src="{% static "img/SPY_BOT P1.JPG" %}">
    </a>
    <a class="carousel-item" href="#two!">
      <img src="{% static "img/SPY_BOT P2.JPG" %}">
    </a>
    <a class="carousel-item" href="#three!">
      <img src="{% static "img/SPY_BOT P3.JPG" %}">
    </a>
    <a class="carousel-item" href="#four!">
      <img src="{% static "img/SPY_BOT P4.JPG" %}">
    </a>
    <a class="carousel-item" href="#five!">
      <img src="{% static "img/SPY_BOT P5.JPG" %}">
    </a>
  </div>
</div>
  <div class="col m4 s11 right">
      <div class="card hoverable">
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width ">
            <li class="tab">
              <a class="active" href="#test5">Login</a>
            </li>
            <li class="tab">
              <a href="#test4">Register</a>
            </li>

          </ul>
        </div>
        <div class="card-content fixed-width white-text blue-grey">
          <div id="test4">{% include "home/registerform.html" %}</div>
          <div id="test5">{% include "home/loginform.html" %}</div>

        </div>
      </div>
  </div>
</div>

{% endblock %}